{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}




<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">GoShop </h1>
      <p>Shopping is an activity in which a customer browses the available goods or services presented by one or more retailers with the potential intent to purchase a suitable selection of them. A typology of shopper types has been developed by scholars which identifies one group of shoppers as recreational shoppers,[1] that is, those who enjoy shopping and view it as a leisure activity.[2] </p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Antiquity</h2>
        <p>
          In antiquity, marketplaces and fairs were established to facilitate the exchange of goods and services. People would shop for goods at a regular market in nearby towns. However, the transient nature of stalls and stall-holders meant the consumers needed to make careful inspection of goods prior to purchase</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Middle Ages</h2>
        <p>
          Archaeological evidence suggests that the British engaged in minimal shopping in the early Middle Ages. Instead, they provided for their basic needs through subsistence farming practices and a system of localised personal exchanges.[10</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Shopping for pleasure</h2>
        <p>The modern phenomenon of shopping for pleasure is closely linked to the emergence of a middle class in the 17th and 18th-century Europe. As standards of living improved in the 17th century, consumers from a broad range of social backgrounds began to purchase goods that were in excess of basic necessities</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>





{% endblock %}
